[workspace]
[package]
name = "openvm-client-eth"
description = ""
edition = "2021"

[dependencies]
getrandom = { version = "0.2", features = ["custom"] }

# workspace
openvm-client-executor = { path = "../../crates/executor/client" }

# openvm
# openvm = { git = "https://github.com/openvm-org/openvm.git", tag = "v1.3.0", features = [
#   "std",
# ] }
# openvm-keccak256-guest = { git = "https://github.com/openvm-org/openvm.git", tag = "v1.3.0" }
# openvm-algebra-guest = { git = "https://github.com/openvm-org/openvm.git", tag = "v1.3.0" }
# openvm-ecc-guest = { git = "https://github.com/openvm-org/openvm.git", tag = "v1.3.0" }
# openvm-pairing = { git = "https://github.com/openvm-org/openvm.git", tag = "v1.3.0", features = [
#   "bn254",
#   "bls12_381",
# ] }
# k256 = { git = "https://github.com/openvm-org/openvm.git", tag = "v1.3.0" }
k256 = "0.13"

# Statically turns off logging
log = { version = "0.4", features = ["max_level_off", "release_max_level_off"] }
tracing = { version = "0.1", features = [
  "max_level_off",
  "release_max_level_off",
] }

serde = { version = "1", default-features = false, features = ["derive"] }
postcard = { version = "1", default-features = false, features = [
  "alloc",
] } # enable if you have alloc

# sp1_bls12_381 = { path = "../../../bls12_381", package = "bls12_381" }
# getrandom = "=0.3.3"

[features]
# heap-embedded-alloc = ["openvm/heap-embedded-alloc"]

[patch.crates-io]
sp1_bls12_381 = { path = "../../../bls12_381" }

[profile.release]
panic = "abort"
lto = "fat"
strip = false

[profile.profiling]
inherits = "release"
debug = 2
strip = false
